/*html {
	overflow:hidden
}*/

.white{
	color: white;
}
#problemi-showcase{
	margin-left: 0px;
	padding-right: 15px;
}
#resitve-showcase{
	margin-left: 0px;
	padding-left: 0px;
}

.showcase {
	padding: 0 !important;;
	margin-left: 15px;
	margin-right: 15px;
}

.alternatives {
	padding: 15px;
	padding-top: 25px;
}

.uk-navbar-container{
	height:60px !important;
}
.black{
	color:rgb(41, 41, 41);
}
.table{
	height: 500px;
}

#card-forest {
	margin-top: 18px;
}
.scaleImg{
	max-width: 100%;
	max-height: 35vh;
}
.handshake{
	width:50vw;
	max-height: 50vh;
}
.protoImg{
	max-width:100%;
	max-height: 33vw;
}
.cardImg{
	max-height:15vw;
}
#firstImg{
	margin-bottom:20px;
}
.teamImg{
	max-height: 40vh;
}